:root {
  --space: 20px;
  --radius-sm: 1px;
  --radius: 4px;
  --space-common: .3rem;
  --space-common-negative: -.3rem;
  --space-common-sm: .2rem;
  --z-index-header: 3;
  --z-index-mask: 13;
  --z-index-toast: 9999999999;
}

:root {
  --background: #fff;
  --background-input-highlight:#EAE8EF;
  --background-root: #F4F2F7;
  --background-mask: #f0f0f0;
  --background-classic: #E5E5E5;
  --background-title: rgba(247, 247, 247, 1);
  --background-scroll: #D0D0D0;
  --background-input: #F7F6FA; // search input
  --background-input-placeholder: #CDC8CD;
  --background-table-hover: rgba(0, 0, 0, 0.035);
  --background-lighter: #C6C3CF;
  --background-classic-card: rgba(0, 0, 0, 0.03);
  --background-classic-btn: rgba(0, 0, 0, .03);
  --background-classic-btn-hover: rgba(0, 0, 0, .06);
  --background-header-menu: #EAEAEA;
  --background-header-chain: #EAE8EF;
  --background-header-chain-hover: #F7F6FA;
  --background-fold-active: rgba(0, 0, 0, 1);
  --dialog-mask: rgba(0, 0, 0, .3);
  --dialog-content: #FFFFFF;
  --dialog-title: #F7F6FA;
  --color: #322B2E;
  --color-nohover:#938993;
  --color-content: rgba(0, 0, 0, .6);
  --color-des: #CDC8CD;
  --color-disable: rgba(0, 0, 0, .2);
  --color-light: #fff;
  --color-lighter: rgba(0, 0, 0, .2);
  --green: rgba(0, 192, 118, 1);
  --red: #F84960;
  --blue: #00FFFF;
  --toast-background: #FF6B18;
  --border: 1px solid rgba(247, 247, 247, 1);
  --border-color: rgba(247, 247, 247, 1);
  --background-loading: rgba(0, 0, 0, .03);
  --routing-color: #A9A6B5;
  --routing-bg-color: #ECE9EF;
  --routing-border-color: #DDDAE0;
  --routing-line-color: linear-gradient(180deg, rgba(221, 218, 224, 0), rgba(221, 218, 224, 1), rgba(255, 255, 255, 0)) 1 1;;
  --swap-icon-bg: #F7F6FA;
  --swap-icon-shadow: rgba(21, 20, 44, 0.04);
  --swap-icon-border: #E3DFEB;
  --background-classic-body: #F4F2F7;
  --background-classic-form: #fff;
  --background-classic-form-header: #FFFFFF;
  --background-classic-form-item: #F7F6FA;
  --background-classic-form-border: #F0EEF4;
  --background-classic-connect: #FFF0EC;
  --background-classic-connect-hover: #FDEAE5;
  --background-classic-connect-text-hover: #EA5A0A;
  --background-classic-unlock-hover: #FEE2E8;
  --background-classic-unlock-text-hover: #ED2A52;
  --background-classic-infinite-unlock-hover: #FDEAE5;
  --background-classic-infinite-unlock-text-hover: #EA5A0A;
  --background-classic-dot: #fff;
  --background-classic-button: #EAE8EF;
  --background-classic-input: #E9ECEF;
  --background-classic-input-hover: #FF6B18;
  --background-classic-token: #F8F9FA;
  --background-classic-token-hover: #FFF2EC;
  --background-classic-border: #E8E6E9;
  --background-classic-popular-token-hover: #FFFCFB;
  --background-select-options: #FFFFFF;
  --background-customization-token-confirm: linear-gradient(198deg, #FC903A 0%, #FF3E67 100%);
  --background-select-token-info: #F7F6FA;
  --classic-arrow: #AFA4AF;
  --classic-field-arrow: #AAA8B9;
  --classic-max-hover: #EA5A0A;
  --classic-max-hover-bg: #FFFCFB;
  --classic-token-hover: #474747;
  --classic-customization-token-confirm-text: #343a40;
  --classic-chain-add: #AFA4AF;
  --classic-chain-add-bg: #F7F6FA;
  --classic-chart-loading-letter: #DDDAE0;
  --classic-chart-loading-ring: #FF6B18;
  --classic-item-list-active: #FF6B18;
  --classic-token-item-active: #FFF2EC;
  --classic-text-title: #343a40;
  --classic-text-common: #A79EA7;
  --classic-text-active: #322B2E;
  --classic-button-disabled: #C6C3CF;
  --classic-button-disabled-color: #FFFFFF;
  --classic-button-active: #E0886D;
  --classic-button-unlock: #FFE8ED;
  --classic-button-unlock-color: #FA3961;
  --classic-button-infinite-unlock: #FFF0EC;
  --classic-button-infinite-unlock-color: #FF7A18;
  --classic-item-hover: #FF6B18;
  --classic-green: #479A4B;
  --classic-green-status: #3a7e3d;
  --classic-green-bg: #E3F2E4;
  --classic-red: #F75029;
  --classic-red-bg: #FFFFFF;
  --classic-field-balance: #FFFFFF;
  --classic-back: #AFA4AF;
  --classic-back-bg: #EAE8EE;
  --classic-routing-text: #322B2E;
  --classic-routing-bg: #EAE8EF;
  --classic-routing-line: #E0DDE1;
  --classic-routing-arrow: #AFA4AF;
  --classic-circle: #DCD8DC;
  --classic-loading-circle-bg: #DDDAE0;
  --classic-warning: #C76962;
  --classic-warning-bg: #F7F6FA;
  --classic-custom-token-detail-bg: #F7F6FA;
  --classic-custom-token-property: #AFA4AF;
  --classic-custom-token-tips: #e74949;
  --classic-limit-order-action: #ea4848;
  --classic-no-icon: #c4c4c4;
  --classic-animate: #F75029;
  --classic-border: #DDDAE0;
  --classic-clickable-bg: #dee2e6;
  --classic-setting-content-value: #908690;
  --classic-swap-token: #212529;
  --classic-status-best: #84C67B;
  --classic-status-match: #90ADEC;
  --classic-status-normal: #F75029;
  --classic-status-color: #ECE9EF;
  --classic-transaction-svg: #e4e4e4;
  --classic-loader-border: #DDDAE0;
  --classic-loader-border-color: #FF6B18;
  --classic-onto-scan: rgba(37, 41, 46, 0.95);
  --classic-onto-scan-tip: rgba(60, 66, 82, 0.6);
  --classic-dropdown-shadow: rgba(0, 0, 0, 0.25);
  --classic-popular-token-shadow: rgba(0, 0, 0, 0.15);
  --classic-bar-bg: #EAE8EF;
  --classic-routing-img-bg: #EAE8EF;
  --classic-item-name: #AFA4AF;
  --classic-primary-button-text: #FFFFFF;
  --tooltip-bg: #FFFFFF;
  --tooltip-text: #322B2E;
  --tooltip-icon: #d5d4da;
  --tooltip-shadow: rgba(139, 131, 149, 0.14);
  --notification-pending-bg: #ffffff;
  --notification-success-bg: #83C259;
  --notification-explore-bg: #6DAD43;
  --notification-color: #fff;
  --toast-color: #fff;
  --toast-danger-bg: #CF5E5E;
  --toast-danger: #fff;
  --info-border: #E8E6E9;
  --border-light: rgba(0, 0, 0, 0.05);
  --logo-color: #A79EA7;

  .g-dark {
    --background: #F8F9FA;
    --background-input-highlight:#17122B;
    --background-root: #17122B;
    --background-mask: #15171c;
    --background-classic: #E5E5E5;
    --background-title: rgba(21, 23, 28, 1);
    --background-scroll: #36344A;
    --background-input: #29273D; // search input
    --background-input-placeholder: #615761; // search input
    --background-table-hover: rgba(255, 255, 255, .035);
    --background-lighter: #29273d;
    --background-classic-card: rgba(255, 255, 255, .05);
    --background-classic-btn: rgba(255, 255, 255, .05);
    --background-classic-btn-hover: rgba(255, 255, 255, .1);
    --background-header-menu: #32343A;
    --background-header-chain: #252339;
    --background-header-chain-hover: #2D2B41;
    --background-fold-active: rgba(255, 255, 255, 1);
    --background-loading: #222;
    --background-classic-dot: #fff;
    --dialog-mask: rgba(0, 0, 0, .8);
    //--dialog-content: rgba(255, 255, 255, .1);
    --dialog-content: #222037;
    --dialog-title: #29273D;
    --color: #fff;
    --color-nohover:#938993;
    --color-content: rgba(255, 255, 255, .6);
    --color-des: rgba(255, 255, 255, .3);
    --color-disable: rgba(255, 255, 255, .2);
    --color-light: #000;
    --color-lighter: rgba(255, 255, 255, .2);
    --classic-arrow: #BBB1BB;
    --green: rgba(0, 192, 118, 1);
    --red: #F84960;
    --blue: #00FFFF;
    --toast-background: #FF6B18;
    --border: 1px solid #1E2026;
    --border-color: #1E2026;
    --routing-color: #959299;
    --routing-bg-color: #1B172D;
    --routing-border-color: #2A2938;
    --routing-line-color: linear-gradient(180deg, rgba(44, 43, 56, 0), rgba(42, 41, 56, 1), rgba(44, 43, 56, 0)) 1 1;
    --swap-icon-bg: #29273D;
    --swap-icon-shadow: rgba(21, 20, 44, 0.38);
    --swap-icon-border: #333145;

    --background-classic-body: #17122B;
    --background-classic-form: #222037;
    --background-classic-form-header: #29273D;
    --background-classic-form-item: #29273D;
    --background-classic-form-border: #333145;
    --background-classic-button: #222037;
    --background-classic-input: #363445;
    --background-classic-input-hover: #FF6B18;
    --background-classic-token: #29273D;
    --background-classic-token-hover: #2C2A3F;
    --background-classic-popular-token-hover: #312F45;
    --background-select-options: #29273D;
    --background-customization-token-confirm: linear-gradient(198deg, #FC903A 0%, #FF3E67 100%);
    --background-select-token-info: #29273d;
    --classic-customization-token-confirm-text: #FFFFFF;
    --classic-item-list-active: #FF6B18;
    --classic-token-item-active: #2C2637;
    --background-classic-border: #343249;
    --background-classic-connect: rgba(255, 155, 121, 0.08);
    --background-classic-connect-hover: #372D40;
    --background-classic-connect-text-hover: #EA5A0A;
    --background-classic-unlock-hover: #352840;
    --background-classic-unlock-text-hover: #f02c55;
    --background-classic-infinite-unlock-hover: #372D40;
    --background-classic-infinite-unlock-text-hover: #EA5A0A;
    --classic-chain-add: #FFFFFF;
    --classic-chain-add-bg: #29273D;
    --classic-chart-loading-letter: #343046;
    --classic-chart-loading-ring: #FF6B18;
    --classic-text-title: #FFECF1;
    --classic-text-common: #8C7F8C;
    --classic-text-active: #fff;
    --classic-text-grey: #D6D5E1;
    --classic-button-active: #FF9B79;
    --classic-button-disabled: #333147;
    --classic-button-disabled-color: #B1A7B1;
    --classic-button-unlock: #31243D;
    --classic-button-unlock-color: #FA3961;
    --classic-button-infinite-unlock: #2c2637;
    --classic-button-infinite-unlock-color: #FF7A18;
    --classic-custom-token-tips: #e74949;
    --classic-item-hover: #FF6B18;
    --classic-status-best: #83C259;
    --classic-status-match: #90ADEC;
    --classic-status-normal: #F75029;
    --classic-status-color: #1C1A31;
    --classic-field-balance: #363043;
    --classic-field-arrow: #AAA8B9;
    --classic-circle: #1D1B31;
    --classic-loading-circle-bg: #29273D;
    --classic-red: #FA3961;
    --classic-red-bg: #fbdbdb;
    --classic-back: #857685;
    --classic-back-bg: #333147;
    --classic-routing-text: #8C7F8C;
    --classic-routing-bg: #222037;
    --classic-routing-line: #36344A;
    --classic-routing-arrow: #41404E;
    --classic-warning: #9A525E;
    --classic-warning-bg: #29273D;
    --classic-custom-token-detail-bg: #29273D;
    --classic-custom-token-property: #857685;
    --classic-limit-order-action: #ea4848;
    --classic-no-icon: #c4c4c4;
    --classic-animate: #F75029;
    --classic-border: #2C2B38;
    --classic-clickable-bg: #dee2e6;
    --classic-setting-content-value: #BBB1BB;
    --classic-swap-token: #fff;
    --classic-transaction-svg: #e4e4e4;
    --classic-loader-border: rgba(255, 255, 255, 0.2);
    --classic-loader-border-color: #fff;
    --classic-onto-scan: rgba(37, 41, 46, 0.95);
    --classic-onto-scan-tip: rgba(60, 66, 82, 0.6);
    --classic-dropdown-shadow: rgba(0, 0, 0, 0.25);
    --classic-popular-token-shadow: rgba(0, 0, 0, 0.15);
    --classic-bar-bg: #222037;
    --classic-routing-img-bg: #222037;
    --classic-item-name: #615761;
    --classic-max-hover: #EA5A0A;
    --classic-max-hover-bg: #3A3447;
    --classic-token-hover: #D1D0D5;
    --classic-primary-button-text: #FFFFFF;
    --tooltip-bg: #29273d;
    --tooltip-text: #fff;
    --tooltip-icon: #3f3e44;
    --tooltip-shadow: rgba(18, 13, 34, 0.29);
    --notification-pending-bg: #222037;
    --notification-success-bg: #83C259;
    --notification-explore-bg: #6DAD43;
    --notification-color: #fff;
    --toast-color: #fff;
    --toast-danger-bg: #FF6B18;
    --toast-danger: #fff;
    --info-border: #363544;
    --border-light: rgba(255, 255, 255, 0.05);
    --logo-color: #fff;
  }
}

.g-dark {

  .g-dark-only {
    display: inline-block;
  }

  .g-light-only {
    display: none;
  }
}

.g-light-only {
}

.g-dark-only {
  display: none;
}
